/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
  font-family: 'Rubik', sans-serif;
}

td{
  width: 33%;
}

th{
  width: 33%;
}

#judul{
  margin-top: 100px;
}

#keyword{
  margin-top: 100px;
  text-align: center;
  margin-left: 500px;
  
}

h2{
  text-align: center;
  margin-top: 100px;
}

#main{
  background-color: aquamarine;
}
