{% extends 'base.html' %}
{% load static %}

{% block meta %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>Cari Buku</title>
{% endblock meta %}

{% block content %}
<div class="container-fluid" id="main">
  <div class="row">
    <div class="col-md-12">
      <h2>Welcome to CariBuku!</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <input id="keyword" placeholder="Masukkan nama buku">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table" id="judul">
  
  
      </table>
    </div>
  </div>
</div>



<script type="text/javascript">

    $(function() {
        var keyword = 'best';
        $.ajax({
              url: '/data?q=' + keyword,
              success: function(data){
                console.log(data);
                var array_items = data.items;
                //console.log(array_items);
                $("#judul").append ("<thead class= 'thead-dark'><tr>" +"<th>" + "Judul" + "</th>" + "<th>" + "Cover Buku" + "</th>" + "<th>" + "Penulis" + "</th>"+"</tr></thead>");
                for(i = 0; i < array_items.length; i++){
                  judul = array_items[i].volumeInfo.title;
                  cover_buku = array_items[i].volumeInfo.imageLinks.smallThumbnail;
                  penulis = array_items[i].volumeInfo.authors;
                  
                  $("#judul").append ("<tbody><tr>"+"<td>" + judul + "</td>" + "<td>" + "<img src=" + cover_buku + ">" + "</td>" + "<td>" + penulis + "</td>" +"</tr></tbody>");
                  //console.log(judul);
                }
              }

          });
    });
    $("#keyword").keyup( function(){
        var ketikan = $("#keyword").val();
        console.log(ketikan);

        $.ajax({
            url: '/data?q=' + ketikan,
            success: function(data){
              //console.log(data);
              var array_items = data.items;
              console.log(array_items);
              $("#judul").empty();
              $("#judul").append ("<thead class='thead-dark'><tr>" +"<th>" + "Judul" + "</th>" + "<th>" + "Cover Buku" + "</th>" + "<th>" + "Penulis" + "</th>"+"</tr></thead>");
              for(i = 0; i < array_items.length; i++){
                judul = array_items[i].volumeInfo.title;
                cover_buku = array_items[i].volumeInfo.imageLinks.smallThumbnail;
                penulis = array_items[i].volumeInfo.authors;
                
                $("#judul").append ("<tbody><tr>"+"<td>" + judul + "</td>" + "<td>" + "<img src=" + cover_buku + ">" + "</td>" + "<td>" + penulis + "</td>" +"</tr></tbody>");
                //console.log(judul);
              }
            }

        });
    });
</script>
{% endblock content %}
